* {
  box-sizing: border-box;
}

body{
	background-color: lightgray;
	
	width:98vw;
}


header{
	display:grid;
	grid-area:header;
	background-color: #00e600;
	color: #003300;
	text-align:center;
}
nav{
	display:grid;
	grid-area:nav;
	color:#f2f2f2;
	font-size:1.4em;
	font-family:cursive;
	font-weight:bold;
}

nav ul{
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr 1fr;
	grid-gap: 15px;
	padding:0;
	margin:0;
	list-style-type:none;	
}

nav a{
	text-decoration: none;
}

nav li{
	display:grid;
	text-align:center;
	border: 4px outset #323232;
	border-radius:10%;
	background: black;
	background: #3377ff;
	height:85%;
	line-height:2.5;
}

nav li:hover{
	border:4px inset yellow;	
}

article{
	
	outline: 1px solid black;
	float: left;
	padding: 20px;
	width: 68%;
	background-color: #f1f1f1;
	height: 500px;
	overflow:scroll;
}
aside{
    outline: 1px solid black;
	display:grid;
    text-align: center;
    background-color: white;
	color: black;
	text-align: center;
	height: 500px;
	width: 30%;
	margin-left: auto;
	overflow:scroll;
}

footer{
    
	background-color: darkorange;
	color:#fafafa;
	text-align:center;
	line-height:5em;
}
